#friends-name-display{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #FAFAFA;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#friends-name-display i{
    margin: 0px 7px;
    color: #D5D5D5;
}

.friends-screen{
    padding: 0px var(--horizontal-sapce);
}

.friends-screen__channel{
    margin-top: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding-top: 15px;
}

.friends-screen__channel-header{
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.3);
}
